@charset "utf-8";
@import url('KoPubDotum.css');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/**
 * 전체 화면 설정
 * -------------------- */

* {
    font-family: "KoPub Dotum";
    font-stretch: extra-condensed;
    font-weight: 300;
    letter-spacing: -1px;
    list-style: none;
    text-decoration: none;
    color: #000;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/**
 * 상단(로고 및 메뉴 바) 영역 지정
 * -------------------- */
.header {
    width: 100%;
    height: 137px;
    background-color: white;
    position: fixed;
    z-index: 500;

}

.titlebar {
    max-width: 1400px;
    height: 100%;
    margin: auto;
}

/**
 * 한 구역 설정이 끝날 때 float 속성 제거
 * -------------------- */
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

/**
 * 로고 위치 지정 및 텍스트 화면 밖으로 조정
 * -------------------- */
.home-logo {
    width: 95px;
    height: 95px;
    background: url("../img/logo.png") center center no-repeat;
    position: absolute;
    top: 20px;
    padding-left: 20px;
    z-index: 100000;
    text-indent: -10000px;
}

/**
 * 상단 소메뉴 정렬
 * -------------------- */
.toolbar-1 {
    text-align: right;
    margin-top: 28px;
    padding-right: 20px;
    font-size: 13.5px;
}

.toolbar-1 li {
    display: inline-block;
    padding: 0 10px 0 8px;
    border-right: 1px solid #eee;
}

.toolbar-1 li:last-child {
    display: inline-block;
    padding: 0 0 0 8px;
    border-right: 0px;
}

.toolbar-1 li:hover {
    color: #572A31;
}

/**
 * 메인 메뉴 정렬
 * -------------------- */
.toolbar-2 {
    text-align: right;
    margin-top: 30px;
    padding-right: 20px;
    font-size: 20px;
    letter-spacing: -1px;
}

.toolbar-2 .menu-item {
    display: inline-block;
    padding: 0 0 0 40px;
}

/**
 * 메인 메뉴 마우스 오버 시 폰트 색상 변경
 * -------------------- */

.toolbar-2 .menu-item>a:hover {
    color: #572A31;
}

/**
 * 서브 메뉴 영역 설정
 * -------------------- */
.sub {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-38%, 0%);
    z-index: 2000;
    text-align: left;
    line-height: 160%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    float: right;
    white-space: nowrap;
    overflow: auto;
}

.sub-box {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    vertical-align: top;
}

.sub-box:last-child {
    margin-right: 0;
}

/**
 * 서브 메뉴 폰트 설정
 * -------------------- */

.sub>li>a,
.sub>.sub-box>li>a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.sub>.sub-box>li>ul>li>a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}

/**
 * 서브 메뉴 마우스 오버 시 밑줄 처리
 * -------------------- */

.sub a:hover {
    text-decoration: underline;
}

/**
 * 서브 메뉴 위치 조정을 위한 상위 메뉴 position 부여
 * -------------------- */

.menu-item {
    position: relative;
}

/**
 * 마우스 오버 전에 서브 메뉴 숨김 처리
 * -------------------- */

.sub {
    display: none;
}