@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;

    display: block;

    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transform: scale(0.6);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 6px;
}

[dir='rtl'] .slick-prev {
    right: 6px;
    left: auto;
}

.slick-prev:before {
    content: url('E:/JeongWooju/06_JAVA_WEB/Tomntoms/WebContent/Clonecoding/TomNToms/img/menu_prev.png');
}

[dir='rtl'] .slick-prev:before {
    content: url('E:/JeongWooju/06_JAVA_WEB/Tomntoms/WebContent/Clonecoding/TomNToms/img/menu_next.png');
}

.slick-next {
    right: 6px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 6px;
}

.slick-next:before {
    content: url('E:/JeongWooju/06_JAVA_WEB/Tomntoms/WebContent/Clonecoding/TomNToms/img/menu_next.png');
}

[dir='rtl'] .slick-next:before {
    content: url('E:/JeongWooju/06_JAVA_WEB/Tomntoms/WebContent/Clonecoding/TomNToms/img/menu_prev.png');
}

/* Dots */
.slick-dotted.slick-slider {
    /*margin-bottom: 30px;*/
}

.slick-bars {
    position: absolute;
    bottom: 42px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    overflow: hidden;


}

.slick-bars li {
    position: relative;

    display: inline-block;
    left: 312px;
    width: 54px;
    height: 2px;
    margin: 0 3px;
    padding: 0;

    cursor: pointer;
}

.slick-bars li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 48px;
    height: 10px;
    padding: 1px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-bars li button:hover,
.slick-bars li button:focus {
    outline: none;
}

.slick-bars li button:hover:before,
.slick-bars li button:focus:before {
    opacity: 1;
}

.slick-bars li button:before {
    font-family: 'slick';

    font-size: 27px;
    line-height: 2px;

    position: absolute;
    top: 0;
    left: 0;

    width: 54px;
    height: 54px;

    content: '――';
    text-align: center;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-bars li.slick-active button:before {
    opacity: 1;
    color: black;
}

.slick-dots {
    position: absolute;
    top: -60px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
    overflow: hidden;
}

.slick-dots li {
    position: relative;
    left: 615px;
    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 5px;
    padding: 0 2px;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 16px;
    height: 16px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    content: '•';
    text-align: center;
    color: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: #572A31;
}